
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-image: url('../../images/stars.gif');
  background-repeat: repeat;
}

main {
  padding-left: 0px;
  margin-top: -20px;
  overflow: hidden;
  max-height: 100%;
}

section {
height: 100%;
margin: 0px;
}


.section3 {
border-top: 1px solid $darker-grey;
display: flex;
flex-direction: row;
margin-top: 20px;
padding-top: 0px;
background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.7)));
@media only screen and (max-width: 899px) {

  border-top: 1px solid $darker-grey;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 30px;
  }

@media only screen and (max-width: 600px) {

  border-top: 1px solid $darker-grey;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 30px;
  }
}

.reveal {
  display: block;
  margin: 0 auto;
  width: 450px;
  @media only screen and (max-width: 600px) {
    width: 370px;
    border: 0px solid white;
  }
}

.hide {
  display: none !important;
}


.intro {
  height: 250px;
  width: 220px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  border: 0px;
}

#yodaImage {
  height: 270px;
  width: 250px;
  margin-top: 50px;
  border: 0px;
  border-radius: 100%;

}

.box {
  border: 0px dashed $light-grey;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
