
form {
  width: 600px;
  margin: 0px auto;
  @media only screen and (max-width: 600px) {
      width: 400px;
    }
}

.inputcontainer {
  margin: 0 auto;
  display: flex;
  width: 400px;
}

input[type=text] {
  width: 370px;
  padding: 8px 12px;
  border: 1px solid $light-grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(255,255,255, 0.2);
  cursor: text;
  color: $text-white;
  font-size: 25px;
  outline: none;
  height: 50px;
  margin: 0 auto;

}

input[type=submit] {
  width: 10%;
  background-color: $light-grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
