
form {
  width: 600px;
  margin: 0px auto;
  border: 0px solid #e4e4e4;
}


.inputcontainer {
  border: 0px solid green;
  margin: 0 auto;
  display: flex;
  width: 400px;
}

input[type=text] {
  width: 370px;
  padding: 8px 12px;
  border: 1px solid #e4e4e4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(255,255,255, 0.2);
  cursor: text;
  color: white;
  font-size: 25px;
  outline: none;
  height: 50px;
  margin: 0 auto;

}

input[type=submit] {
  width: 10%;
  background-color: #efefef;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
