

p {
  color: #fff;
  text-align: center;
  font-size: 19px;
}

h1, h2, h3 {
  color: #fff;
  text-align: center;
  font-weight: lighter;
}

h1 {
  font-size: 50px;
  text-shadow: 0 0 0.2em #42b3f4;
}

h2 {
  padding: 0px;
  margin: -20px;
  color: yellow;
}

.white {
    color: #fff;
}

h3 {
  padding: 0px;
  margin: 50px;
  color: #42b3f4;
  font-size: 40px;
}
