
p, h1, h2, h3 {
  color: $text-white;
  text-align: center;
  font-weight: lighter;
}

h1 {
  font-size: 50px;
  text-shadow: 0 0 0.2em $text-blue;
}

h2 {
  margin: -30px;
  color: $text-yellow;
  @media only screen and (max-width: 600px) {
      padding-left: 20px;
      padding-right: 20px;
  }
}


h3 {
  margin: 50px;
  color: $text-blue;
  font-size: 40px;
}

button {
  width: 300px;
  border: 0px;
  background: none;
  color: $text-blue;
  margin-top: 50px;
  font-size: 40px;
  cursor: pointer;
  letter-spacing: 10px;
  text-shadow: 0 0 0.2em $green;
}

.fa-music:hover {
  color: $text-blue;
  cursor: pointer;
}
