
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import "helpers/_animate";
@import "helpers/_typography";
@import "helpers/_form";
@import "helpers/_counters";
@import "helpers/_containers";




button {

  width: 300px;
  border: 0px;
  background: none;
  color: #42b3f4;
  margin-top: 50px;
  font-size: 40px;
  cursor: pointer;
  letter-spacing: 10px;
  text-shadow: 0 0 0.2em #8F7
}



.reveal {
  width: 450px;
  border: 0px solid green;
  margin: 0 auto;
}


.parent {
  overflow: hidden;
  border: 0px solid orange;

}

.intro {
  height:  270px;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0px solid white;
  cursor: pointer;

}

img {
  dispay: block;
  margin: 5px;
  border: 1px solid #7f7526;
  width: 100px;
  height: 100px;
}

.hide {
  display: none;
}


.disabled{
    pointer-events:none;
    opacity:0.4;
}


.box {
  border: 1px dashed #e4e4e4;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}



.fa-music:hover {
  color: #42b3f4;
  cursor: pointer;
}






@media only screen and (max-width: 600px) {


  .reveal {
    width: 400px;
  }

  img {
    dispay: block;
    border: 1px solid #7f7526;
    width: 90px;
    height: 90px;
  }

  form {
    width: 400px;
  }

  h1, h2, h3 {
    padding: 0px 30px 0px 30px;
  }
}
