/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/



* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background: url('/images/background5.jpg') no-repeat;
  background-size: cover;
  // height: 600px;
}


header {
  height: 50px;
  background-color: #e4e4e4;
}


main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border: 0px solid #ccc;
  // background-color: #fafafa;
  overflow: hidden;

  height: 100%;
}

section {
height: 100%;
border: 1px solid red;
margin: 10px;



}

.section1 {
flex-basis: 80%;
}

.section2 {
flex-basis: 20%;
}

div {
  border: 0px solid green;
}

.parent {
  overflow: hidden;
}

.bottom {
  position: absolute;                  /* added */
   bottom:0;                           /* added */
   left:0;

}

.hide {
  display: none;
}

li {
  list-style-type: none;
  display: inline;
}

.fade-in{
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

//
// .sliced {
//     position: relative;
//     width: 640px;
//     height: 400px;
// }
// .tile {
//     // float: left;
//     opacity: 1;
//     -webkit-transition: all .3s ease-in-out;
//     -moz-transition: all .3s ease-in-out;
//     -ms-transition: all .3s ease-in-out;
//     -o-transition: all .3s ease-in-out;
// }
// .tile-animated {
//     opacity: 0;
// }
// .css3-preload .sliced * {
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
//   transition: none !important;
// }
//
// section article img {
//   display: block;
//   margin: auto;
//   width: 380px;
// }
//
form {

  width: 90%;
  margin: 0px auto;
  // background-color: #fff;
  border: 0px solid #e4e4e4;

}
//
// /* matches first level div */
// form > div {
//   margin: 10px 0;
// }
//
// form img {
//   display: block;
//   margin: auto;
// }
//
// form p {
//   text-align: center;
//   color: #999;
//   font-size: 19px;
// }
//
// .legal {
//   font-size: 12px;
// }
//
//
input[type=text] {
  width: 70%;
  padding: 8px 12px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-color: rgba(0,0,0, 0.3);
  cursor: text;
  color: white;
  font-size: 25px;
  outline: none;
  height: 50px;
}

input[type=submit] {
  width: 10%;
  background-color: #e4e4e4;
  height: 40px;
}

#countdown {
  border: 3px #fff;
  border-style: solid none;
  color: #fff;
  font-size: 60px;
  margin: 0 auto;
  height: 100px;
  line-height: 100px;
}

#score {
  border: 3px #fff;
  border-style: solid none;
  color: #fff;
  font-size: 60px;
  margin: 0 auto;
  height: 100px;
  line-height: 100px;
}
//
// /* click field focus */
// input:focus {
//   box-shadow: none;
//   border: 1px solid #999;
// }
//
// button {
//   background: #3897f0;
//   padding: 10px 30px;
//   color: white;
//   border-radius: 4px;
//   position: relative;
//   border-color: #3897f0;
//   width: 100%;
// }
//
//
// /* appears as if button is being pushed down */
// button:active {
//   top: 5px;
//   border-bottom: none;
//   margin-top: 5px;
// }


.box {
  // background-color: #fff;
  border: 1px solid #e4e4e4;
  width: 90%;
  margin: 10px auto;
}

.box, .box-2 p {
  font-size: 14px;
  color: black;
  text-align: center;
}

.box a {
  color: #3897f0;
  text-decoration: none;
}

.box-2 {
  width: 90%;
  margin: 0px auto;
  text-align:center;
}

.box-2 img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;


}


footer {
  height: 50px;
  color: #003569;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10%;
  padding-right: 10%;
}

footer ul li {
  display: inline-block;
  padding-right: 10px;
}

.left {
  float: left;
}

.right {
  text-align: center;
  float: right;
  color: #666;
}



@media only screen and (max-width: 600px) {

  .desktop {
    display: none;
  }

  section {
    flex-basis: 100%;
    display: block;
  }

  footer  {
    text-align: center;
    font-size: 11px;
  }

  .right {
    text-align: center;
    float: none;
  }
}
// 
// .card {
//
//   clear: left;
//   transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
//
//   perspective: 500;
//   -ms-transform: perspective(500px);
//   -moz-transform: perspective(500px);
//   -ms-transform-style: preserve-3d;
//   -moz-transform-style: preserve-3d;
//
//   float: left;
//   // width: 222px;
//   // height: 311px;
//   // background-color:#eee;
//
//   position: absolute;
//   left: 0;
//   top: 0;
//   margin: 20px 0 0px 0px;
//
//   &:nth-child(5n) {
//       margin-right: 0;
//   }
//
//   &.ani0 {
//       left: 20px;
//       top: 0px;
//   }
//
//   &.ani1 {
//       left: 170px;
//       top: 0;
//   }
//
//   &.ani2 {
//       left: 320px;
//       top: 0;
//   }
//
//   &.ani3 {
//       left: 470px;
//       top: 0;
//   }
//
//   &.ani4 {
//       left: 20px;
//       top: 110px;
//   }
//
//   &.ani5 {
//       left: 170px;
//       top: 110px;
//   }
//
//   &.ani6 {
//       left: 320px;
//       top: 110px;
//   }
//
//   &.ani7 {
//       left: 470px;
//       top: 110px;
//   }
//
//   &.ani8 {
//       left: 20px;
//       top: 220px;
//   }
//
//   &.ani9 {
//       left: 170px;
//       top: 220px;
//   }
//
//   &.ani10 {
//       left: 320px;
//       top: 220px;
//   }
//
//   &.ani11 {
//       left: 470px;
//       top: 220px;
//   }
// }
